@import url('http://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    max-height: 100hv;
}

header #logo {
    text-decoration: none;
    color: #fff;
}
header {
    position: relative;
    display: flex;
    justify-content:space-between;
}

header .navigation {
    position: relative;
    display: flex;
}

header .navigation li {
    text-decoration: none;
    list-style: none;
    margin-left: 2em;
}